{% extends "base.html" %}
<!-- import form receiving model -->
{% import 'bootstrap/wtf.html' as wtf %}
    <h1>Hello, {{ current_user.username }}!</h1>
{% block app_content %}
        <h1>Hello, {{ current_user.username }}!</h1>
        <!-- For template reuse -->
        {% if form %}
            <!-- Just send a form to wtf is enough -->
            {{ wtf.quick_form(form) }}
{#            <form action="" method="post">#}
{#                {{ form.hidden_tag() }}#}
{#                <p>#}
{#                    {{ form.post.label }}<br>#}
{#                    {{ form.post(cols=32, rows=4) }}<br>#}
{#                    {% for error in form.post.errors %}#}
{#                        <span style="color:red;">[{{ error }}]</span>#}
{#                    {% endfor %}#}
{#                </p>#}
{#                <p>{{ form.submit() }}</p>#}
{#            </form>#}
        {% endif %}
        <!-- end -->
        {% for post in posts %}
{#            <p>#}
{#            {{ post.author.username }} says: <b>{{ post.body }}</b>#}
{#            </p>#}
            {% include '_post.html' %}
        {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}
{#        {% if prev_url %}#}
{#            <a href="{{ prev_url }}">Newer posts</a>#}
{#        {% endif %}#}
{#        {% if next_url %}#}
{#            <a href="{{ next_url }}">Older posts</a>#}
{#        {% endif %}#}
{#{% endblock %}#}